@font-face {
    font-family: 'Raleway';
    src: url(imgs/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: 'Raleway', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1px 0 0 0;
}

main, section, .navbar{
    max-width: 1400px;
    margin: auto;
}

.navbar{
    height: 6em;
    position: relative;
}

@media screen and (max-width: 1400px) {
    section, .navbar{
        max-width: 1200px;
        margin: auto;
    }
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.navbar > img{
    width: auto;
    max-height: 3em;
    align-self: flex-end;
}

.section-menu li{
    padding: 2rem;
}


a, a:visited{
    text-decoration: none;
}


b{
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}


.section-menu-title a{
    color: black;
}

.section-menu-title a:visited{
    color: black;
}

.section-menu-title a:hover{
    color: #0065FC;
}

.section-menu-title:hover{
    border-top: 4px solid #0065FC;
    color: #0065FC
}

.margin-menu{
    margin: 0;
}

.list-unstyled{
    list-style: none;
}

.mx-1{
    margin: 0 1em;
}

.mx-3{
    margin: 0;
}

@media screen and (max-width: 796px) {
    header{
        margin-bottom: 1em;
    }

    section{
        margin-top: 2rem;
    }

    .navbar > img{
        width: auto;
        max-height: 3em;
        align-self: flex-end;
        margin-left: 1em;
    }

    .section-menu li{
        padding: 1em 1.5em;;
    }

    .section-menu-title{
        border-bottom: 2px solid #F2F2F2;
        margin-top: 1em;
        width: 140px;
        text-align: center;
    }

    .margin-menu{
        margin: 0;
    }

    .mx-1{
        margin: .2em;
    }

    .mx-3{
        margin: 0;
        padding: 0;
    }

    .section-menu-title:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    .inscription{
        position: absolute;
        top: 5px;
        right: 1em;
        font-weight: bold;
    }

    li > a:hover{
        border-top: none;
        padding-top: 2em;
    }

    a:visited{
        color: #0065FC;
    }

    .center{
        width: 100%;
        margin-left: 1em;
    }

    .search{
        margin: 3rem 1em 1em 1em;
    }

    .search>p{
        margin-left: 1em;
    }

    h3{
        font-size: 20px;
    }
}

/* Form style */

form{
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: 'Raleway';
}

form .fas-input{
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 2.5rem;
    text-align: center;
    line-height: 1;
    display: inline-block;
    padding-top: .75em;
}

form .searching-area{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 1rem;
    border-right: none;
    border-left: none;
    border-radius: 0;
    -webkit-appearance: none;
}

form .button{
    padding: 0 1rem;
    border: none;
    height: 100%;
    color: #fff;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    -webkit-appearance: none;
}

form .button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    border: 2px solid #0065FC;
}

form .fa-search{
    display: none;
    width: 2.5rem;
    text-align: center;
    padding-top: .75em;
    margin-left: -.5em;
    border: none;
    color: #fff;
    background-color: #0065FC;
    border-radius: 10px;
    -webkit-appearance: none;
}

@media screen and (max-width: 796px){
    form{
        justify-content: center;
    }

    .d-search{
        display: none;
    }

    .fa-search{
        display: block !important;
    }
}

/* Filters style */

.flex-start{
    display: flex;
    padding-left: 0;
    align-items: center;
    flex-wrap: wrap;
}

.filters{
    border: 2px solid lightgray;
    border-radius: 30px;
    padding: 1rem 1rem 1rem 4rem;
    box-sizing: content-box;
    position: relative;
    margin-top: .5rem;
    cursor: pointer;
}

.filters:hover{
    background-color: #ddebff;
    border: 2px solid transparent;
}

li .fas{
    width: 1rem;
    color: #0065FC;
    background-color: #ddebff;
    padding: 1.1rem;
    border-radius: 30px;
    border: 2px solid transparent;
    margin-right: .8rem;
    box-sizing: inherit;
    position: absolute;
    top: -.10rem;
    left: -.14rem;
}

.fa-info{
    color: #0065FC;
    border: 1px solid lightgray;
    padding: .5rem;
    border-radius: 50%;
}

/* Hébergements */

.link{
    color: black;
}

.background-grey{
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.all-lodgings{
    width: 56%;
    margin-right: 2rem;
}

.most-wanted{
    width: 30%;
    margin-top: 0;
}

.wrap{
    flex-wrap: wrap;
}

.card-horizontal{
    width: 30%;
    height: auto;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 2px;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 150%;
    text-decoration: none;
}

.card-horizontal > img {
    object-fit: cover;
    width: 100%;
    height: 120px;
    min-height: 100px;
    border-radius: 25px 25px 0 0;
  }

.vertical-desk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-vertical{
    display: flex;
    width: 90%;
    max-height: 140px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 2px;
    margin: 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 150%;
}

.card-vertical > img {
    border-radius: 25px 0 0 25px;
    object-fit: cover;
    width: 140px;
    height: 140px;
}

.vertical-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
    .all-lodgings, .most-wanted{
        max-width: 40%;
        width: 40%;
        margin: 1rem;
    }

    .card-horizontal{
        width: 45%;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .all-lodgings, .most-wanted{
        max-width: 100%;
        width: 100%;
        margin: 1rem;
        font-size: 12px;
        margin: 0;
        padding: 1rem;
        border-radius: 0;
    }
    
    .all-lodgings{
        background-color: #fff;
    }

    .card-horizontal{
        width: 100%;
        height: auto;
    }

}


.most-wanted-menu{
    position: relative;
}

.most-wanted-menu > .fas{
    position: absolute;
    top: 1.5rem;
    right: 2em;
} 

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

.activities{
    margin-bottom: 3em;
}

.activities .col-3{
    width: 23%;
}

.card-marginless{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.card-marginless > img {
    object-fit: cover;
    width: 100%;
    height: 540px;
    min-height: 100px;
    border-radius: 25px 25px 0 0;
}

.card-marginless > p{
    padding: 0 0 1rem 1rem;
    color: black;
}

.card-marginless-small{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 25px;
    margin: 1rem 0 1rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.card-marginless-small > img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    min-height: 100px;
    border-radius: 25px 25px 0 0;
}

.card-marginless-small > p{
    padding: 0 0 1rem 1rem;
    color: black;
}

.activities-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .activities .col-3{
        width: 47%;
    }

    .card-marginless-small > img{
        object-fit: cover;
        width: 100%;
        min-height: 150px;
        border-radius: 25px 25px 0 0;
    }
}


@media screen and (max-width: 768px) {
    .activities .col-3{
        width: 90%;
        margin: auto;
    }

    .card-marginless > img {
        height: 150px;
    }

    .card-marginless-small > img{
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 25px 25px 0 0;
    }

    h3{
        margin-left: 1rem;
    }
}

/* footer */

footer{
    background-color: #F2F2F2;
}

footer > .navbar {
    display: flex;
    height: 100%;
}

footer .col-3{
    width: 30%;
}

footer li{
    padding: 1em;
}

@media screen and (max-width: 768px) {
    footer .col-3{
        width: 90%;
    }
}